@import "variables";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid rgb(179, 179, 179);
}

body{
    font-family: 'Public Sans', sans-serif;
    color: $grayishBlue;
    overflow-x: hidden;
}

header{
    z-index: 20;
    position: sticky;
    top: 0;
    z-index: 250;
    width: 100%;
}



nav  {
    background-color: $white;
    width: 100%;
    z-index: 11100;
    margin-top: -10px;
}

.nav-button {
    
}

h2{
    color: black;
}

.logo{
    cursor: pointer;
}

nav{
    background-color: $white;
    width: 100%;
}

.nav-button{
    max-width: 100%;
    margin: 0 auto;
}

.nav-item{
    padding-bottom: 50px;
    
}

.nav-links{
    // z-index: 1000;
}



.nav-links li{
   padding: 10px;
}


.border-gradient:hover {
    border-bottom: 4px solid transparent;
    padding-bottom: 1.5rem;
    border-radius: 5px;
    border-image-source: linear-gradient(to right, $limeGreen, $brightCyan 100%); 
    border-image-slice: 5;
}

#mobileMenu{
    z-index: 1000;
}

.nav-links a {
    color: $grayishBlue;
    text-decoration: none;
}



button {
    padding: 16px 30px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    color: $white;
    font-weight: 700;
    
}

button:hover{
    opacity: 0.3;
    z-index: 10;
 }

 
.overflow{
    width: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    contain: content;
}



.hero {
    max-width: 100%;
    height: 660px;
    position: relative;
    overflow-x: hidden;
    background-color: $lightGray;
    z-index: 10;  
}

.hero-body{
    max-width: 100%;
    position: relative;
    
    

    .title{
        margin-bottom: 20px;
        font-size: 3rem;
        color: black;
        font-weight: 300;
        padding-top: 180px;
        
    }

    p{
        margin-bottom: 20px;
    }

    

    button:hover{
        opacity: 0.3;
    }

}

.bg-intro {
    width: 1300px;
    position: absolute;
    left: 650px;
    top: -270px;
    z-index: 15;
    
    
}

.image-mockup-container{
    position: relative;
    width: 100%;
    // overflow-x: inherit;
}

.image-mockup{
    position: absolute;
    width: 800px;
    height: auto;
    right: -10%;
    top: -120px;
    z-index: 100;
}


// why-choose section

.why-choose{
    z-index: 16;
    background-color: $lightGrayishBlue;
    position: relative;
    
    


    .section-title{
        padding: 100px 0 0;
        font-size: 2em;
        color: black;
    }

    .section-description{
        padding: 20px 0 50px;
        width: 600px;
        
    }

    h2{
        font-size: 1.5em;
        margin: 30px 0;
        color: black;
    }

    .info-cards{
        padding: 30px 0 100px 0;
    }

}



// Articles Section 

.articles{
    background-color: $lightGray;

    h2{
        font-weight: 300;
    }

    .card{
        width: 100%;
        height: auto;
        margin: 0 auto;
        
        
    }

    .card-body{
        position: relative;
        width: 100%;
        padding: auto;
        align-items: center;
        margin-bottom: 80px;
        background-color: white;
    }

    .card-group h4:hover{
        color: $limeGreen;
        cursor: pointer;
}

    .card-img-top{
        width: 100%;
        height: 200px;
    }

    .section-title{
        padding: 100px 0 50px;
        font-size: 2em;
    }

    h4{
        margin: 80px 0;
        font-size: 1.25em;
        color: $grayishBlue;
    }

    .card-title{
        padding: 20px auto;
        margin: 20px auto;
        color: black;
    }

    cite{
        font-size: .80em;
    }

    .card-text{
        font-size: .9em;
    }

}


footer{
    height: 185px;
    background-color: $darkBlue ;
    padding: 40px;

    .footer-logo{
        margin-bottom: 40px;
        background-color: white;
        padding: 10px;
        cursor: pointer;
    }

    li{
        list-style: none;
        font-weight: 300;
        
        a{
            color: $lightGray;
        }

        a:hover{
            text-decoration: none;
            color: $limeGreen;
        }
    }

    button{
        margin-bottom: 20px;
    }

    .footer-links{
        padding-left: 80px;
    }
}

.mobile-bg{
    display: none;
}


// xs (for phones - screens less than 768px wide)
// sm (for tablets - screens equal to or greater than 768px wide)
// md (for small laptops - screens equal to or greater than 992px wide)
// lg (for laptops and desktops - screens equal to or greater than 1200px wide)

@media only screen and (max-width: 1200px) {
    
    .flex-wrap{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        min-width: 1200px;
    }

    nav{
        text-align: center;
    }

    .navbar-toggler{
        margin-right: 0;
    }

    .image-mockup-container{
        position: relative;
        width: 100%;
        height: 1000px;
        z-index: 1;
        // overflow-x: inherit;
    }

    .hero{
        width: 100%;
        position: relative;
    }

    .hero-body div{
        position: absolute;
        top: 0;
        left: 20%;
    }




 

    .image-mockup{
        position: relative;
        width: 1000px;
        height: auto;
        right: -0;
        top: -350px;
        z-index: 100;
        margin: 0 20px;
    }

    .bg-intro{
        display: none;
    }
    .flex-wrap{
        text-align: center;
        margin: 0 auto;
    }

    .mobile-bg {
        display: block;
        width: 1500px;
        height: auto;
        position: absolute;
        left: -450px;
        top: -370px;
        z-index: 15;
    }

    .hero {
        height: 540px;
    }
    
}

@media only screen and (max-width: 991px) {

    .logo{
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
    }

    .nav-container{
        position: relative;
    }

    .nav-button{
        display: none;
    }


    .border-gradient:hover {
        border-bottom: 4px solid transparent;
        padding-bottom: 10px;
        border-radius: 5px;
        border-image-source: linear-gradient(to right, $limeGreen, $brightCyan 100%); 
        border-image-slice: 5;
    }
  

    .image-mockup{
        position: relative;
        width: 800px;
        height: auto;
        right: 15px;
        top: -280px;
        z-index: 100;
        margin: 0 auto;
    }

    .bg-intro {
        width: 1000px;
        height: auto;
        position: absolute;
        left: -200px;
        top: -570px;
        z-index: 15;
    }

    .hero-body div{
        width: 700px;
        position: absolute;
        top: 0;
        left: -100px;
    }

  

    

}